{% if site.owner.google.ad-client and site.owner.google.ad-slot %}{% include ad-footer.html %}{% endif %}

<span>&copy; {{ site.time | date: '%Y' }} {{ site.owner.name }}. </span>
<br	/>
<span>Read more from the <a href="chicago.medicine.uic.edu/departments___programs/departments/neurology/" title = "UIC Department of Neurology and Rehabilitation" target="_blank">UIC Neurology Department</a>.</span>
<div class="social-icons">

  <a href="{{ site.url }}/feed.xml" title="Atom/RSS feed"><i class="fa fa-rss-square fa-2x"></i></a>
</div><!-- /.social-icons -->